@model UcenikViewModel
@{

    ViewBag.Title = "Dodaj";
    var smerovi = new SelectList(Model.Smerovi, "SmerID", "NazivSmera", "Trajanje", 0);
}

<h2 style="text-align:center">Nov učenik</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!--<form class="form-horizontal">-->
            <div class="well">
                @using (Html.BeginForm("Sacuvaj", "Ucenici", FormMethod.Post, new { @class = "form-horizontal",enctype = "multipart/form-data" }))
            {
                    <fieldset>
                        <legend>Novi</legend>
                        <div class="form-group">
                            <!--<label for="inputEmail" class="col-lg-2 control-label">Email</label>-->

                            @Html.LabelFor(u => u.Ucenik.ImeOca, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">

                                <!--    <input type="text" class="form-control" id="inputEmail" placeholder="Email"> -->
                                @Html.TextBoxFor(u => u.Ucenik.ImeOca, new { @class = "form-control", placeholder = "Ime Oca" })
                                @Html.ValidationMessageFor(u => u.Ucenik.ImeOca)
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label for="inputEmail" class="col-lg-2 control-label">Email</label>-->

                            @Html.LabelFor(u => u.Ucenik.PrezimeOca, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">

                                <!--    <input type="text" class="form-control" id="inputEmail" placeholder="Email"> -->
                                @Html.TextBoxFor(u => u.Ucenik.PrezimeOca, new { @class = "form-control", placeholder = "Prezime Oca" })
                                @Html.ValidationMessageFor(u => u.Ucenik.PrezimeOca)
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label for="inputEmail" class="col-lg-2 control-label">Email</label>-->

                            @Html.LabelFor(u => u.Ucenik.ImeMajke, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">

                                <!--    <input type="text" class="form-control" id="inputEmail" placeholder="Email"> -->
                                @Html.TextBoxFor(u => u.Ucenik.ImeMajke, new { @class = "form-control", placeholder = "Ime Majke" })
                                @Html.ValidationMessageFor(u => u.Ucenik.ImeMajke)
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label for="inputEmail" class="col-lg-2 control-label">Email</label>-->

                            @Html.LabelFor(u => u.Ucenik.PrezimeMajke, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">

                                <!--    <input type="text" class="form-control" id="inputEmail" placeholder="Email"> -->
                                @Html.TextBoxFor(u => u.Ucenik.PrezimeMajke, new { @class = "form-control", placeholder = "Prezime Majke" })
                                @Html.ValidationMessageFor(u => u.Ucenik.PrezimeMajke)
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label for="inputEmail" class="col-lg-2 control-label">Email</label>-->
                            @Html.LabelFor(u => u.Ucenik.Ime, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">

                                <!--    <input type="text" class="form-control" id="inputEmail" placeholder="Email"> -->
                                @Html.TextBoxFor(u => u.Ucenik.Ime, new { @class = "form-control", placeholder = " Unesite Ime" })
                                @Html.ValidationMessageFor(u => u.Ucenik.Ime)
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label for="inputEmail" class="col-lg-2 control-label">Email</label>-->

                            @Html.LabelFor(u => u.Ucenik.Prezime, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">

                                <!--    <input type="text" class="form-control" id="inputEmail" placeholder="Email"> -->
                                @Html.TextBoxFor(u => u.Ucenik.Prezime, new { @class = "form-control", placeholder = " Unesite Prezime" })
                                @Html.ValidationMessageFor(u => u.Ucenik.Prezime)
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label for="inputEmail" class="col-lg-2 control-label">Email</label>-->

                            @Html.LabelFor(u => u.Ucenik.DatumRodjenja, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                <input type="text" id="datum" class="form-control" name="datum" data-val="true" data-val-required="Polje za datum rođenja je obavezno" readonly>
                                <input type="hidden" name="Ucenik.DatumRodjenja" id="Ucenik_DatumRodjenja" >
                                @*@Html.ValidationMessageFor(u => u.Ucenik.DatumRodjenja)*@
                                <span class="field-validation-valid" data-valmsg-for="datum" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(u => u.Ucenik.JMBG, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">

                                <!--    <input type="text" class="form-control" id="inputEmail" placeholder="Email"> -->
                                @Html.TextBoxFor(u => u.Ucenik.JMBG, new { @class = "form-control", placeholder = "JMBG", maxlength = "13" })
                                @Html.ValidationMessageFor(u => u.Ucenik.JMBG)
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label for="inputEmail" class="col-lg-2 control-label">Email</label>-->

                            @Html.LabelFor(u => u.Ucenik.Adresa, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">

                                <!--    <input type="text" class="form-control" id="inputEmail" placeholder="Email"> -->
                                @Html.TextBoxFor(u => u.Ucenik.Adresa, new { @class = "form-control", placeholder = "Adresa" })
                                @Html.ValidationMessageFor(u => u.Ucenik.Adresa)
                            </div>
                        </div>
                        <div class="form-group">

                            <!--<label for="inputEmail" class="col-lg-2 control-label">Email</label>-->
                            @Html.LabelFor(u => u.Ucenik.MestoPrebivalista, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                <!--    <input type="text" class="form-control" id="inputEmail" placeholder="Email"> -->
                                @Html.TextBoxFor(u => u.Ucenik.MestoPrebivalista, new { @class = "form-control", placeholder = "Mesto prebivališta" })
                                @Html.ValidationMessageFor(u => u.Ucenik.MestoPrebivalista)
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label for="inputEmail" class="col-lg-2 control-label">Email</label>-->
                            @Html.LabelFor(u => u.Ucenik.BrojTelefonaRoditelja, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                <!--    <input type="text" class="form-control" id="inputEmail" placeholder="Email"> -->
                                @Html.TextBoxFor(u => u.Ucenik.BrojTelefonaRoditelja, new { @class = "form-control", placeholder = "Broj telefona" })
                                @Html.ValidationMessageFor(u => u.Ucenik.BrojTelefonaRoditelja)
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(u => u.Ucenik.MestoRodjenja, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(u => u.Ucenik.MestoRodjenjaId, new SelectList(Model.Gradovi, "Id", "Naziv"), "Grad", new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Ucenik.MestoRodjenjaId)
                            </div>
                        </div>

                        <div class="form-group">
                                                            
                                    @Html.LabelFor(u=>u.Ucenik.Vanredan,new { @class = "col-md-3 control-label"})
                                    <div class="checkbox col-md-9">
                                        @Html.CheckBoxFor(u => u.Ucenik.Vanredan)
                                    </div>
                         </div>
                                      
                        <div class="form-group">
                            @Html.LabelFor(u => u.Ucenik.SmerID, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(u => u.Ucenik.SmerID, smerovi, " ", new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Ucenik.SmerID)
                            </div>
                        </div>
                        <div style="display:none;" id="RazredOdeljenje">
                            <div class="form-group">
                                @Html.LabelFor(u => u.Ucenik.Razred, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">                                    
                                    <select name="Ucenik.Razred" class="form-control" id="Ucenik_Razred">

                                    </select>
                                    @Html.ValidationMessageFor(u => u.Ucenik.Razred)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(u => u.Ucenik.OdeljenjeId, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    <select name="Ucenik.OdeljenjeId" class="form-control" id="Ucenik_OdeljenjeId">

                                    </select>
                                    @Html.ValidationMessageFor(u => u.Ucenik.Odeljenje.Oznaka)
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-3 control-label" for="File">Postavi sliku:</label>
                            <div class="col-md-9">
                                <input type="file" name="File" id="File" style="width: 100%;" />
                                @Html.ValidationMessageFor(u => u.File)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button type="reset" class="btn btn-default">Poništi</button>
                                <button type="submit" class="btn btn-primary">Sačuvaj</button>
                            </div>
                        </div>
                    </fieldset>
                    foreach (var smer in Model.Smerovi)
                    {
                        <input type="hidden" value="@smer.Trajanje" id="@("smer" + smer.SmerID)">
                        foreach (var oznaka in smer.Oznake)
                        {
                            <input type="hidden" value="@oznaka.OznakaId" class="@("odeljenje" + smer.SmerID)">
                            @*<input type="hidden" value="@odeljenje.Id" id="@("odeljenjeID" + odeljenje.Oznaka)">*@
                        }
                    }


                }
            </div>
        </div>
    </div>
</div>
<!--       </form> -->



@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var recnik = {
            1: "Prvi",
            2: "Drugi",
            3: "Treći",
            4: "Četvrti"
        }


        $(document).ready(function () {
            $("#Ucenik_SmerID optgroup[label=4]").prop({ label: "Četvorogodišnji smerovi" });
            $("#Ucenik_SmerID optgroup[label=3]").prop({ label: "Trogodišnji smerovi" });


            $("#Ucenik_SmerID").change(function () {
                var smerId = $("#Ucenik_SmerID").val();

                if (smerId == '') {
                    $("#RazredOdeljenje").hide();
                } else {

                    var trajeGodina = $("#smer" + smerId).val();

                    var html = "";

                    for (i = 1; i <= trajeGodina; i++) {
                        html += '<option value="' + i + '">' + recnik[i] + '</option>';
                    }

                    $("#Ucenik_Razred").html(html);
                    html = "";

                    $(".odeljenje" + smerId).each(function () {

                        html += '<option value="' + $(this).val() + '">' + $(this).val() + '</option>';


                    });


                    $("#Ucenik_OdeljenjeId").html(html);

                    $("#RazredOdeljenje").show();
                }

            }).change();


        })
        $("#datum").datepicker({
            constrainInput: true,
            dateFormat: "dd.mm.yy.",
            dayNamesMin: ["Ned", "Pon", "Uto", "Sre", "Cet", "Pet", "Sub"],
            monthNamesShort: ["Jan", "Feb", "Mart", "April", "Maj", "Jun", "Jul", "Avgust", "Sept", "Okt", "Nov", "Dec"],
            altField: "#Ucenik_DatumRodjenja",
            altFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true,
            yearRange: "1970:"
        });

        $("#datum").change(function () {
            $(this).blur();
        });

        $("form").submit(function (e) {
            if ($("#File").val() == "")
                return;

            var ext = $("#File").val().split(".").pop().toLowerCase();

            if ($.inArray(ext, ['png', 'jpg', 'jpeg']) == -1) {
                e.preventDefault();
                $("[data-valmsg-for='File']").text("Slika koju ste izabrali nije ispravna");
            }

        });

        $("#File").change(function () {
            var ext = $("#File").val().split(".").pop().toLowerCase();

            if ($.inArray(ext, ['png', 'jpg', 'jpeg']) == -1) {
                $("[data-valmsg-for='File']").text("Slika koju ste izabrali nije ispravna");
            }
            else {
                $("[data-valmsg-for='File']").text("");
            }
        });

        $("#datum").val(moment("@Model.Ucenik.DatumRodjenja.ToString()").format("DD.MM.YYYY."));

        $(function () {
            var datum = $("#datum").val();
            $("#Ucenik_DatumRodjenja").val(moment(datum).format("YYYY-MM-DD"));
        });

       


    </script>

}



