@model IEnumerable<Ucenik>
@{
    ViewBag.Title = "Lista ucenika";

}



<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h2 style="text-align:center">Učenici</h2>
         
            @Html.ActionLink("Dodaj Novog", "Dodaj", "Ucenici", null, new { @class = "btn btn-primary btn-lg" })
           

            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>JMBG</th>
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th>Adresa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Ucenik in Model)
                    {
                        <tr>
                            <td>@Ucenik.JMBG</td>
                            <td>@Ucenik.Ime</td>
                            <td>@Ucenik.Prezime</td>
                            <td>@Ucenik.Adresa</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>