@model IEnumerable<Ucenik>

@{
    ViewBag.Title = "Lista ucenika";


}
<div class="row">
    <div class="col-md-12">

        <h2 style="text-align:center">Učenici</h2>
        @Html.ActionLink("Dodaj novog", "Dodaj", "Ucenici", null, new { @class = "btn btn-success" })
        <br /><br />

        <table class="table table-striped table-hover" id="podaci">
            <thead>
                <tr>
                    <th>JMBG</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Telefon roditelja</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ucenik in Model)
            {
                    <tr>
                        <td>@ucenik.JMBG</td>
                        <td>@ucenik.Ime</td>
                        <td>@ucenik.Prezime</td>
                        <td>@ucenik.BrojTelefonaRoditelja</td>
                        <td>@Html.ActionLink("Izmeni", "Izmeni", "Ucenici", new { @id = ucenik.UcenikID }, new { @class = "btn btn-success btn-xs" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
{
    <script>
        //lista se postavlja kao data table na srpskom jeziku
        $(function () {
            $('#podaci').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/Serbian.json"
                }
            });
        });

    </script>

}