@model IEnumerable<Profesor>
@{
    ViewBag.Title = "Index";

}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h2 style="text-align:center">Profesori</h2>

            @Html.ActionLink("Dodaj Novog", "Dodaj", "Profesori", null, new { @class = "btn btn-primary btn-lg" })
            
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th>Adresa</th>
                        <th>Broj telefona</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Profesor profesor in Model)
                    {
                        <tr>
                            <td>
                                @profesor.Ime
                            </td>
                            <td>
                                @profesor.Prezime
                            </td>
                            <td>
                                @profesor.Adresa
                            </td>
                            <td>
                                @profesor.Telefon
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        
          </div>
     </div>
 </div>
            
            
            
            
            
            
            
            

